<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img src="<%=CDN%>amaze/img/user04.png" alt="">
            </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                        <%=SESSION?SESSION.user?SESSION.user.nickname:'':''%>
          </span>
            <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav" id="menu">

    </ul>
    <script src="<%=CDN%>js/tree.js"></script>
    <script>
        var data = [
            {pid: 'a-1', id: 'a-1-m-1',icon:'am-icon-table', name: '系统设置', value: 'javascript:;'},
            {pid: 'a-1-m-1', id: 'a-1-m-1-1',icon:'am-icon-table', name: '初始系统', value: 'javascript:;'},
            {pid: 'a-1-m-1', id: 'a-1-m-1-2',icon:'am-icon-table', name: '编辑界面', value: 'javascript:;'},
            {pid: 'a-1', id: 'a-1-m-2',icon:'am-icon-table', name: '权限管理', value: 'javascript:;'},
            {pid: 'a-1-m-2', id: 'a-1-m-2-1',icon:'', name: '菜单权限', value: 'javascript:;'},
            {pid: 'a-1-m-2', id: 'a-1-m-2-2',icon:'am-icon-table', name: '部门授权', value: 'javascript:;'},
            {pid: 'a-1-m-2-2', id: 'a-1-m-2-2-1',icon:'am-icon-table', name: '角色授权', value: 'javascript:;'},
            {pid: 'a-1-m-2-2', id: 'a-1-m-2-2-2',icon:'am-icon-table', name: '用户授权', value: 'javascript:;'}
        ];
        new tree().loadHtml(data,'a-1','menu');
    </script>
</div>